body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    display: flex;
    justify-content: space-around;
    background-color: rgb(50, 48, 148);
    padding: .3%;
}
.logo img{
    border-radius: 50%;
    width: 30%;
}
.link {
    display: flex;
    flex-direction: row;
    gap: 20%;
    width: 50%;
    text-align: center;
    align-items: center;
    font-size: larger;

   

}
.link a{
    display: flex;
    flex-direction: row;
    color: white;
    text-decoration: none;

}
.search{
    display: flex;
    align-items: center;
    gap: 5%;
    
}
.search button:hover{
    background-color: rgb(50, 48, 148);
    color: white;
    cursor: pointer;
    
}
.herosection img{
    width: 100%;
    height: 1000px;
}
.container{
background-image: url(https://as2.ftcdn.net/v2/jpg/00/78/51/81/1000_F_78518192_QzyO6gmlXvSlJxMBasmdSWGSF2M4NAGd.jpg);
background-repeat: no-repeat;
background-size: cover;
background-position: center;
width: 100%;
height: 400px;
border: 2px solid green;
padding: 1%;



}
form{
    border: 1px solid black;
    width: 30%;
    height: auto;
    margin: auto;
    padding: 1%;

}
form h1{
    text-align: center;
    background-color: black;
    color: white;
    
}
label{
    font-size: 25px;
}
input{
    width: 100%;
    height: 8%;
    border-radius: 2px solid;
}
.button {
    text-align: center;
   
}
button{
    background-color: black;
    width: 20%;
    height: 30px;
    color: white;
    font-size: larger;

}

#Studentdata{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* gap: 1%; */
    border: 2px solid black;
    padding: 1%;
    box-sizing: border-box;
}
#Studentdata div{
    border: 1px solid black;
    padding: 1%;
    margin: 5px;
    /* line-height: 80%; */
    text-align: center;
    background-color: aliceblue;

}
#Studentdata h1{
    background-color: black;
    color: white;
}
#Studentdata img{
    width: 50%;
    height:150px ;
}
#Studentdata button{
    /* margin: 2%; */
    width: auto;
}
.secondlink {
    /* border: 1px solid; */
    color: black;
    display: flex;
    justify-content:space-around;
    font-size: 40px;
    
}
    
   

    
